:root{
    /* colors */
    --color-white: hsl(0, 0%, 98%);
    --color-gray: hsl(0, 0%, 41%);
    --color-black: hsl(0, 0%, 8%);

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-l: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
    background-color: var(--color-white);
}

html{
    scroll-behavior: smooth;
}

/* xs */
@media (min-width: 475px) {}

/* s */
@media (min-width: 640px) {}

/* m */
@media (min-width: 768px) {}

/* l */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* xxl */
@media (min-width: 1536px) {}